body{
    background-attachment: fixed;
    background-image: url(./road.jpg);

}
body .container .countdown div{
    background-color: rgba(255, 255, 255, .3);
    margin: 15px;
    padding: 29px;
    text-align: center;
    border-top: 8px solid red;
}

 body section .icon i{
     padding: 6px;
     margin: 4px;
     color: red;
     font-size: 25px;
 }
body section ol{
    list-style-type: georgian;
}
 
aside{
    background-color: rgba(255, 255, 255, .3);
}

aside article .form-control{
    background-color: rgba(255, 255, 255, .5);
}
aside article button{
    background-color: red;
}
  
 
@media only screen and (min-width: 800px) {
    aside{
        height: 600px;
    width: 600px;
    }
}
@media only screen and (max-width: 800px) {
    aside{
        height: 100%;
        width: 100%;
    }
}

*, ::after, ::before {
    box-sizing: border-box;
}
